# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
hawaii_df = pd.read_csv('Resources/hawaii_measurements.csv')
hawaii_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
hawaii_df['date']= pd.to_datetime(hawaii_df['date'])
hawaii_df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [4]:
# Set the date column as the DataFrame index
hawaii_df = hawaii_df.set_index("date")
hawaii_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [5]:
# Drop the date column
hawaii_clean_df = hawaii_df.reset_index(drop=True)
hawaii_clean_df.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
hawaii_groupby = hawaii_df.groupby(by=[hawaii_df.index.month])

average_mon_temps = hawaii_groupby['tobs'].mean()

average_mon_temps

date
1     68.726115
2     69.442236
3     70.059067
4     72.357268
5     73.680900
6     74.944118
7     76.082408
8     76.412454
9     76.164865
10    75.391388
11    73.252688
12    71.041529
Name: tobs, dtype: float64

In [8]:
# Identify the average temperature for June
hawaii_june = average_mon_temps.iloc[5]
hawaii_june

74.94411764705882

In [9]:
# Identify the average temperature for December
hawaii_dec = average_mon_temps.iloc[11]
hawaii_dec

71.04152933421226

In [22]:
# Create collections of temperature data
#Temperatures for the Month of June
hawaii_june_temps = hawaii_df.loc[(hawaii_df.index.month == 6) & (hawaii_df.index.day != 30)]["tobs"].reset_index(drop=True).head(1500)


#Temperatures for the Month of December
hawaii_dec_temps = hawaii_df.loc[hawaii_df.index.month == 12]["tobs"].reset_index(drop=True).head(1500)

0       76
1       74
2       74
3       64
4       64
        ..
1495    68
1496    68
1497    69
1498    65
1499    70
Name: tobs, Length: 1500, dtype: int64

In [23]:
# Run paired t-test
stats.ttest_rel(hawaii_june_temps, hawaii_dec_temps)

Ttest_relResult(statistic=33.41769459538465, pvalue=1.8806302810190305e-183)

### Analysis

I chose a paired t-test because they are from the same data set of temperatures from Hawaii with only differnce is the time of the year.  After the ttest was performed a significant diferrence was found.